ul {padding-left:12px;}
body{
  background-color: #DCDCDC;
}
.container{
  margin: 0 auto;
  background-color: #FFFF;
  max-width: 515px;
  height: 842px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.wrapper{
  padding: 40px;
}
.header{
  border-bottom: 1px solid #212121;
}
.header-avatar{
   filter: grayscale(65%);
   box-sizing: border-box;
}
.header__wrapper{
  max-width: 250px;
}
.header__tittle{
  float: right;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
}
.contacts{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
}
.information_block{
  
}
.block_contacts{
  padding-left: 25px;
}
.information_tittle{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
}
.text_color{
  color: #7a7a7a;
}