ul {padding-left:12px;}
a{text-decoration: none;color: #800;}
body{
  background-color: #DCDCDC;
}
.container{
  margin: 20px auto;
  background-color: #FFFF;
  max-width: 515px;
  min-height: 1200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.wrapper{
  padding: 40px;
}
.header{
  border-bottom: 1px solid #e9e9e9;
}
.header-avatar{
   filter: grayscale(65%);
   box-sizing: border-box;
}
.header__wrapper{
  max-width: 250px;
}
.header__tittle{
  float: right;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
}
.contacts{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
}
.contatcs_text {
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; 
}
.block_contacts{
  padding-left: 25px;
}
.information_tittle{
  font-family: IBM Plex Sans;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
}
.text_color{
  color: #7a7a7a;
}
.education{
    border-bottom: 1px solid #e9e9e9;
}
.education_text{
  display: flex;
  justify-content: space-between;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.education_dates{
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}
.code{
  border-bottom: 1px solid #e9e9e9;
}
.language_text{
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; 
}
.languages{
  border-bottom: 1px solid #e9e9e9;
}
.technologies__block{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-image: url(images/box.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.technologies__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 280px;
}
.technologies__block:hover{
  transform: scale(1.2);
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  font-family: IBM Plex Sans;
  font-style: normal;
  max-height: 100px;

}
.rs-school-logo{
  text-align: center;
  width: 100px;
  height: 37px;
}